<ng-container *ngIf="weatherData">
  <div class="main-container">
    <div class="main-info">
      <div class="floating-text main-info__location-text">
        {{ weatherData.location }}
      </div>
      <div class="floating-text main-info__degrees-text">
        {{getCurrentTemperature()}}°C
      </div>
      <div i18n>
        Felt like: {{ getCurrentFeltTemperature() }}°C
      </div>
    </div>
    <app-forecast-hours-data [timeline]="weatherData.data.timelines[0]"></app-forecast-hours-data>

  </div>
</ng-container>
