.main-container {
  background: rgb(0, 0, 0) url('/assets/cloudy.jpg') no-repeat;
  background-size: cover;
  color: white;
  height: 100%;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__location-text {
    font-size: 30px;
    line-height: 30px;
  }

  &__degrees-text {
    font-size: 80px;
    line-height: 80px;
  }
}

.floating-text {
  text-shadow: 1px 1px 2px #00000055;
}


